:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 100vw;
    --main-width: 85vw;
    
    --header-height: 40px;
    --footer-height: 60px;
    --radius: 10px;
    --theme: rgb(255, 178, 211);
    --entry: rgb(220, 152, 201);
    --primary: 	#8080ff;
    --secondary: rgb(255, 178, 211);
    --tertiary: rgb(233, 158, 212);
    --text-primary: #004d99;
    --text-secondary: #007399;
    --text-tertiary: #0aa6a9;
    --dark: rgb(140, 140, 150);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(249, 184, 227);
    --border: #8a98fd;
    --border-selected: #885fef;

}

.dark {
    --theme: #201740;
    --entry: #2B1E59;
    --primary: #6E34BF;
    --secondary: #42208C;
    --tertiary: #2B1E59;
    --text-primary: #61CF9A;
    --text-secondary: #4EA66D;
    --text-tertiary: #428C47;
    --dark: rgb(255,255, 255);
    --content: rgb(255, 13, 56);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: #42208C;;
    --border-selected: #6E34BF;
}

.list {
    background: var(--theme);
}

.dark.list {
    background: var(--theme);
}
