/*TODO: This script builds wrong for github pages*/

/*Home profile info*/
.HomeProfileIcon{
    border-radius: var(--radius);
    width: 25%;
    float: right;
    box-shadow: 0px 0px 8px var(--dark);
    transition: 0.5s all ease-in-out;
}
.HomeProfileIcon:hover{
    transform: scale(1.02);
}

.ProfileDescriber{
    float: left;
    width: 70%;
}

.dotted-outline{
    padding: 3%;
    border-radius: var(--radius);
    outline-color: var(--tertiary);
    outline-style: dashed;
    outline-width: 3px;
}

/* Posts */
.listedPost{
    transition: 0.15s all ease-in-out;
}

.listedPost:hover{
    transform: scale(1.01);
}

.listedPost:active{
    transform: scale(0.9);
}