/*Home profile info*/
.HomeProfileIcon-container{
    border-radius: var(--radius);
    width: 25%;
    box-shadow: 0px 0px 8px var(--primary);
    margin-left: var(--gap);
    overflow: hidden;
    display: inline-block;
}

.HomeProfileIcon {
    object-fit: cover;
    transition: 0.5s transform ease-in-out;
}
.HomeProfileIcon:hover {
    transform: scale(1.05);
}

.ProfileDescriber{
    float: left;
    width: 70%;
}

.dotted-outline{
    padding: 3%;
    border-radius: var(--radius);
    outline-color: var(--tertiary);
    outline-style: dashed;
    outline-width: 3px;
}

/* Posts */
.listedPost{
    transition: transform .15s ease-in-out;
}

.listedPost:hover{
    transform: scale(1.01);
}

.listedPost:active{
    transform: scale(0.9);
}